# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
target/

# Environments
.env
.env.local
.env.production
.env.development

# IDE & system files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
